*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  cursor: pointer;
  outline: none;
  border: none;

}
input{
  outline: none;
  border: none;
}
a{
  text-decoration: none;
}
.sumir{
  display: none;
}

img:hover{
  transition: .7s;
  cursor: pointer;
}
img:hover{
  transform: scale(1.5);
}